@font-face {
    font-family: "Lato-Bold";
    src: url(../singolo/Lato-Bold.woff);
}
@font-face {
    font-family: "Lato-Light";
    src: url(../singolo/Lato-Light.woff);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../singolo/Lato-Regular.woff);
}
@font-face {
    font-family: "Lato-Black";
    src: url(../singolo/Lato-Black.woff);
}
body {
    margin:0px;
}
.wrapper1 {
    width: 1020px;
    margin: 0 auto;
}
.wrapper {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 1px;
    margin: 0px;
    padding-bottom: 29px;
}
.container {
    width: 940px;
    margin: 0 auto;
    
    

}
h2 {
    margin: 0px;
    padding: 0px;
    font-family: "Lato-Black";
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: justify;
    margin-top: 109px;
    letter-spacing: -0.3px;
}
.text {
    font-family: "Lato-Light";
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    text-align: justify;
    margin-top: 27px;
    letter-spacing: -0.2px;
}
.information {
    display: flex;
    margin-top: 42px;

}

.forminfo {
width: 621px;
 

}
.contactInfo {
    width: 341px;
}
h3 {
    margin:0px;
    padding: 0px;
    font-family: "Lato-Black";
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
}

.info {
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
}
.infoText {
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: 1px;
    display:flex;
    justify-content: space-between;
    background-color: #2d303a;
}

.social {
    display:flex;
}
textarea {
    background-color: #d6564f;
    border: none;
    width: 603px;
    height: 193px;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 14px;
    padding-top: 7px;
}
#project_detail::placeholder {
    font-family: Lato-Regular;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    outline: none;
    
}
#name::placeholder {
    font-family: Lato-Regular;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    outline: none;
}
#email::placeholder {
    font-family: Lato-Regular;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    outline: none;
}
#subject::placeholder {
    font-family: Lato-Regular;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    outline: none;
}
#name{
    background-color: #d6564f;
    border: none;
    width: 606px;
    height: 36px;
    border-radius: 5px;
    padding-left: 12px;
    margin-top: 2px;
}
#email {
    background-color: #d6564f;
    border: none;
    width: 603px;
    height: 36px;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 16px;
}
#subject{
    background-color: #d6564f;
    border: none;
    width: 604px;
    height: 36px;
    border-radius: 5px;
    padding-left: 14px;
    margin-top: 16px;
}
#button {
    font-family: Lato-Regular;
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    background-color: #d6564f;
    border: none;
   border-radius: 5px;
}